<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982261473023-5eu3hecugh7k066hgainktv26qs8o0ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982261473023-5eu3hecugh7k066hgainktv26qs8o0ca</string>
	<key>API_KEY</key>
	<string>AIzaSyB2KrJDnbIWawhrEJcuZ7nsrigDhooEOuU</string>
	<key>GCM_SENDER_ID</key>
	<string>982261473023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PT.ptfegame</string>
	<key>PROJECT_ID</key>
	<string>npte-ninja</string>
	<key>STORAGE_BUCKET</key>
	<string>npte-ninja.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982261473023:ios:71f5df0963eabc745876ca</string>
</dict>
</plist>